<div class="mobile-menu">
    <nav>
        <ul>
            <li class="active"><a href="index.html">Меню</a></li>
            <li><a href="delivery.html">Доставка</a></li>
            <li><a href="stocks.html">Акции</a></li>
        </ul>
    </nav>
</div>

<header>
    <div class="container">
       <div class="header-content">
           <div class="logo-menu">
               <span class="open-menu">
                   <span></span>
               </span>
                <a href="index.html" class="logo"><img src="../img/logo.png" alt=""></a>
                <nav>
                    <ul>
                        <li class="active"><a href="index.html">Меню</a></li>
                        <li><a href="delivery.html">Доставка</a></li>
                        <li><a href="stocks.html">Акции</a></li>
                    </ul>
                </nav>
           </div>
           <div class="user-tel">
                <div class="cont">
                    <i class="icon-call-answer"></i>
                    <a href="tel:8 800 000 00 00">8 800 000 00 00</a>
                    <span>Санкт-Петербург</span>
                </div>
                <form>
                    <div class="form">
                        <input type="search">
                        <button><i class="icon-magnifying-glass"></i></button>
                    </div>
                    <a class="form-open" href="javascript:void(0)"><i class="icon-magnifying-glass"></i></a>
                </form>
                <div class="basket">
                    <a href="basket.html"><span>2</span><i class="icon-shopping-cart"></i></a>
                    <p>Сумма: <strong>2 680 руб.</strong></p>
                </div>
                <a href="authorization.html" class="user"><i class="icon-user"></i><span>Войти</span></a>
           </div>
       </div> 
    </div>
</header>