<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Инжыр</title>
    <meta name="cmsmagazine" content="5a7189a28fb3dc68238dbdb44c9ea99c" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" sizes="16x16" href="../img/favicon.ico">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/news.css">
</head>

<body>

    <style>
        :root {
            --color-black: #000000;
            --color-white: #ffffff;
            --color-main1: #75a3dc;
            --color-main2: #f9c651;
            --color-main3: #ff8237;
            --color-main4: #e0e0e0;
            --color-main5: #b9b9b9;
            --color-main6: #282828;
            --color-main7: #e1e1e1;
            --color-main8: #ecedef;
            --color-main9: #403f3c;
        }
    </style>


    <div class="mobile-menu">
        <nav>
            <ul>
                <li class="active"><a href="index.html">Меню</a></li>
                <li><a href="delivery.html">Доставка</a></li>
                <li><a href="stocks.html">Акции</a></li>
            </ul>
        </nav>
    </div>

    <header>
        <div class="container">
            <div class="header-content">
                <div class="logo-menu">
                    <span class="open-menu">
                   <span></span>
                    </span>
                    <a href="index.html" class="logo"><img src="../img/logo.png" alt=""></a>
                    <nav>
                        <ul>
                            <li class="active"><a href="index.html">Меню</a></li>
                            <li><a href="delivery.html">Доставка</a></li>
                            <li><a href="stocks.html">Акции</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="user-tel">
                    <div class="cont">
                        <i class="icon-call-answer"></i>
                        <a href="tel:8 800 000 00 00">8 800 000 00 00</a>
                        <span>Санкт-Петербург</span>
                    </div>
                    <form>
                        <div class="form">
                            <input type="search">
                            <button><i class="icon-magnifying-glass"></i></button>
                        </div>
                        <a class="form-open" href="javascript:void(0)"><i class="icon-magnifying-glass"></i></a>
                    </form>
                    <div class="basket">
                        <a href="basket.html"><span>2</span><i class="icon-shopping-cart"></i></a>
                        <p>Сумма: <strong>2 680 руб.</strong></p>
                    </div>
                    <a href="authorization.html" class="user"><i class="icon-user"></i><span>Войти</span></a>
                </div>
            </div>
        </div>
    </header>

    <div class="bread-crumbs">
        <div class="container">
            <ul>
                <li><a href="index.html">Главная</a></li>
                <li><a href="news.html">Новости</a></li>
                <li><span>Статья внутр</span></a>
                </li>
            </ul>
        </div>
    </div>

    <section class="news-internal">
        <div class="container">
            <div class="title">
                <h2>Твой здоровый обед!</h2>
            </div>
            <div class="news-internal-content">
                <span class="data">16 апр 2019</span>
                <div class="text text-right clearfix">
                    <img src="../img/news-internal-img.png" alt="">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
                        specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially u</p>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type.</p>
                </div>
                <div class="text text-left clearfix">
                    <img src="../img/news-internal-img2.png" alt="">
                    <h4>Подзаголовок статьи</h4>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the when an unknown printer took a galley of type and scrambled it to make a specimen book.
                        It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum and more recently
                        with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum</p>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the when an unknown printer took a galley of type and scrambled it to make...</p>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="footer" style="background: url('../img/footer.jpg') 50% 50% no-repeat; background-size: cover;">
            <div class="container">
                <div class="footer-content">
                    <div class="logo-menu">
                        <div class="logo">
                            <a href="index.html"><img src="../img/logo-footer.png" alt=""></a>
                            <p>© 2019 Ресторан «Инжир»</p>
                        </div>
                        <div class="menu">
                            <ul>
                                <li><a href="letter-director.html">Письмо Директору</a></li>
                                <li><a href="delivery.html">Доставка и оплата</a></li>
                                <li><a href="news.html">Новости</a></li>
                                <li><a href="contacts.html">Контакты</a></li>
                            </ul>
                            <a class="designed" href="javascript:void(0)">Разработано в студии “Touch”</a>
                            <a class="privacy" href="privacy-terms.html">Условия конфиденциальности</a>
                        </div>
                        <div class="addres-payment">
                            <p>Юридический адрес:</p>
                            <a href="javascript:void(0)" class="addres"><i class="icon-maps-and-flags"></i> Москва, ул. Добролюбова, д. 129, оф 15</a>
                            <a class="tel" href="tel:8 000 000 00 00"><i class="icon-call-answer"></i> тел: 8 000 000 00 00</a>
                            <p>Принимаем к оплате</p>
                            <ul>
                                <li>
                                    <a href="javascript:void(0)"><img src="../img/payment-img1.png" alt=""></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)"><img src="../img/payment-img2.png" alt=""></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="solial-attachment">
                        <p>Присоединяйся к нам в соц сетях </p>
                        <ul class="solial">
                            <li><a href="javascript:void(0)"><i class="icon-instagram"></i></a></li>
                            <li><a href="javascript:void(0)"><i class="icon-facebook"></i></a></li>
                            <li><a href="javascript:void(0)"><i class="icon-telegram"></i></a></li>
                        </ul>
                        <ul class="attachment">
                            <li>
                                <span>для IOS</span>
                                <a class="attachment-desc" href="javascript:void(0)"><img src="../img/attachment1.png" alt=""></a>
                                <a class="attachment-mobile" href="javascript:void(0)"><img src="../img/store-icon.png" alt=""></a class="attachment-desc">
                            </li>
                            <li>
                                <span>для Android</span>
                                <a class="attachment-desc" href="javascript:void(0)"><img src="../img/attachment1.png" alt=""></a class="attachment-desc">
                                <a class="attachment-mobile" href="javascript:void(0)"><img src="../img/google-icon.png" alt=""></a class="attachment-desc">
                            </li>
                        </ul>
                        <p>© 2019 Ресторан «Инжир»</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="../js/jquery.min.js"></script>
    <script src="../js/jquery.mask.min.js"></script>
    <script src="../js/jquery.matchHeight.min.js"></script>
    <script src="../js/script.min.js"></script>
    <script src="../js/news.min.js"></script>
</body>

</html>